# ignore proprietary pydd and cudd stuff
cudd/
PyDD/

# ignore pdf files generated
*.pdf

# ignore benchmark scripts
# iros23_pddl_files/

# ignore cache files generated
*__pycache__
.idea/

# ignore all dot and cache files
*.dot

# ignore plots folder
plots/

# ignore experimental scripts folder and experimental PDDL files
old_files/ 
pddl_files/blocks_world/
pddl_files/sokoban/
pddl_files/three_table_scenario/
pddl_files/two_table_scenario/
logs/
